body{
  margin-left: 50px;
}
.table-content{
    overflow-x: scroll;
    overflow-y: scroll;
}
.table-content table{
    height: 250px;
    width: 1400px;
    text-align: center;
}
.table-content th{
    height: 50px;
}
.table-content table,th,td{
   
    border: 1px solid black;
    border-collapse: collapse;
}
.table-content td{
    vertical-align: middle;
}
.table-content td:hover{
    background-color: grey;
    
}
h1{
    background-color: aqua;
    display: inline;
}
a{
    background-color: bisque;
    display: inline;
}
li{
    display: inline-block;
    background-color: blue;
    color: aliceblue;
    visibility: visible;
}
.container{
    width: 500px;
    height: 250px;
    background-color: palegoldenrod;
    border-right: 6px solid salmon;
}